body{
	font-family: 'Belleza',sans-serif!important;
}
#directory{
	width:100%;
	height:250px;
	overflow:auto;
}
#viewport{
'background-color:#eee;
}
#group{
	display:none;
	padding-top:100px;
}
#app{
	display:none;
}
#nick{
'display:none;
	padding-top:100px;
}
#files{
	display: inline-block;
}
.mask{
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0.3);
	position:fixed;
	top:0;
	left:0;
	display:none;
	z-index:10;
}
.output{
	background-color:rgba(245,245,245,0.6);
	padding:10px;
}
.table-container{
	'background-color:rgba(245,245,245,0.6);
	overflow-y:auto;
}
#uploader,#network{
	display:table-cell;
	padding:15px;
}
#ui{
	display:table-row;
}
.btn{
	margin-left:5px;
	margin-right:5px;
}
.incomplete{
	text-decoration: line-through;
}