!!!
html
	head
		title OnePush
		link(href='css/fonts.css',rel='stylesheet',type='text/css')
		link(href='css/bootstrap.css',rel='stylesheet',type='text/css')
		link(href='css/styles.css',rel='stylesheet',type='text/css')
		script(src='js/jquery.min.js')
		script(src='/socket.io/socket.io.js')
		script(src='js/arbor.js')
		script(src='js/arbor-tween.js')
		script(src='js/graphics.js')
	body
		.container
			#nick
				.jumbotron
					h1 One Push fileshare
					strong Step 1/3
					br
					p Share files with all your friends with just a single push. Pick a nick to get started.
					.col-lg-4
						input.form-control.input-lg#nickname(type='text',placeholder='Nickname',required,value='momo')
					button.btn.btn-lg.btn-primary#select-nick(type='button') Next
					br
					#error-div
			#group
				.jumbotron
					h1 Select a group
					strong Step 2/3
					br
					p This is the group that you'll be sharing your files with. Default group has been set for you.
					.col-lg-4
						input.form-control.input-lg#groupId(type='text',placeholder='Group ID',required,value='123')
					button.btn.btn-lg.btn-primary#select-group(type='button') Next
			#app
				br
				div.container
					.output
						p Root Directory
						pre#directory
					.mask
					br
					input#files(type='file')
					button#send.btn.btn-primary Send
					button#delete.btn.btn-danger.pull-right Delete All Files
				hr
				div.col-md-12#ui
					div.col-md-6#uploader
						h1 Status
						div.table-container(style="width:500px;height:300px;padding:10px;overflow-y:auto")
							table#view.table.table-striped
							
					div.col-md-6#network
						h1 Your Network
						canvas#viewport(width="500",height=300)
						script(src='js/scripts.js')
				br